RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

<FilesMatch "^(?!index\.php$).*\.(php)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>